@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */


.card-body-one {
  padding-top: 1.25% !important;
  padding-bottom: 1.25% !important;
  padding-left: 1.25% !important;
  padding-right: 1.25% !important;
}

.card-body-two {
  padding-bottom: 1.25% !important;
  padding-left: 1.25% !important;
  padding-right: 1.25% !important;
}

.basket-phone-container {
  padding-bottom: 1.25% !important;
  padding-left: 1.25% !important;
  padding-right: 1.25% !important;
}

#card-two {
  padding-top: 2%;
}

#adOne {
  display: block;
  margin: auto !important;
}
#adTwo {
  display: block;
  margin: auto !important;
}

@media (max-width: 1400px) {
  #column-one {
    width: 100%;
  }
  #column-two {
    width: 100%;
  }
  #big-img-container {
    width: 97.5% !important;
    margin: auto;
  }
  #productName.card-title {
    width: 97.5% !important;
    margin: auto;
  }
  .card-body-one {
    padding-bottom: 0 !important;
  }
  #card-one {
    margin: auto;
    min-width: 100%;
  }
  #card-two {
    margin: auto;
    border-left: none;
    min-width: 100%;
  }
  .card-body-two {
    max-width: 100%;
  }
  #card-one {
    margin: 0 !important;
    max-width: 100%;
  }
  #card-two {
    margin: 0 !important;
    border-left: none;
    max-width: 100%;
  }
  #adOne {
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
  }
  #adTwo {
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
  }
  #price {
    padding-bottom: 2% !important;
    padding-top: 5% !important;
  }
  #name-of-product {
    margin-bottom: 0 !important;
    padding-bottom: 2% !important;
  }
  #product-description {
    margin-bottom: 0 !important;
    padding-bottom: 5% !important;
  }
}
@media (max-width: 500px) {
  #adOne {
    width: 100%;
    height: auto;
  }
  #adTwo {
    width: 100%;
    height: auto;
  }
}

/* @media (min-width: 1000px) {
  .column {
    width: 100%;
  }
  
  #adOne {
    max-width: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  #adTwo {
    max-width: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
} */


#big-img-container {
  width: 700px;
}

#bigImg {
  width: 100%;
  height: auto !important;
}

.card-img-top {
  margin: auto;
  max-width: 100%;
  height: auto;
  width: auto;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.product-modal {
  margin: auto;
}

#productName {
  /* background-color: #353745 !important; */
  color: #353745;
  padding: 1vh;
  font-family: myFirstFont;
  font-weight: 700;
  font-size: 175%;
  margin-bottom: 0 !important;
  /* white-space: nowrap; */
}
@media (max-width: 678px) {
  #productName {
    font-size: 150%;
  }
}
@media (max-width: 585px) {
  #productName {
    font-size: 125%;
  }
}
@media (max-width: 490px) {
  #productName {
    font-size: 100%;
  }
}
@media (max-width: 400px) {
  #productName {
    font-size: 90%;
  }
}
@media (max-width: 360px) {
  #productName {
    font-size: 80%;
  }
}

#card-one {
  border-top: none;
  border-right: none;
  border-left: none; 
  border-bottom: none; 
  border-radius: 0 !important;
}



#card-two {
  border-top: none;
  border-right: none;
  border-bottom: none; 
  border-radius: 0 !important;
  margin-left: 21px;
  padding-top: 0 !important;
}

#card-two img {
  padding-top: 5%;
}

.product-price{
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0 !important;
  color: rgb(211, 19, 19);
  font-family: myFirstFont;
  font-weight: 1000;
  font-size: 175%;
}

/* Style buttons */
.btn-buy {
  background-color: #226C3B; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 20px; /* Set a font size */
  text-align: start;
  cursor: pointer; /* Mouse pointer on hover */
  min-width: 100%;
  margin-bottom: 1.25%;
  border-radius: 3px;
}

.btn-buy:focus {
  border: none;
  outline: none !important;
}

.btn-phone {
  background-color: #353745; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 20px; /* Set a font size */
  text-align: start;
  cursor: pointer; /* Mouse pointer on hover */
  min-width: 100%;
  border-radius: 3px;
}

.btn-phone:focus {
  border: none;
  outline: none !important;
}

/* The Modal (background) */
.product-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.product-modal-content {
  margin: auto;
  display: block;
  max-width: 75%;
  height: auto !important;
}


/* The Close Button */
.product-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .product-modal-content {
    width: 100%;
  }
}


/* Request call back modal */
.modal-header {
  background-color: #bfd6d9;
}

.modal-body {
  background-color: #bfd6d9;
}

.modal-footer {
  background-color: #bfd6d9;
}

.modal-title {
  font-family: myFirstFont;
  font-weight: 900;
  color: #353745;
}

.form-label {
  color: #353745;
  font-family: myFirstFont;
  font-weight: 600;
}

.modal-footer .btn {
  background-color: #353745;
  border-color: #353745;
}

.modal-footer .btn:hover {
  background-color: #353745;
  border-color: #353745;
}

.modal-footer .btn:active {
  background-color: #353745 !important;
  border-color: white !important;
}

.modal-footer.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.details-input {
  width: 100%;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  
  color: #575756;
  background-color: transparent;

  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.details-input::placeholder {
      color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1.5px;
  }
  
  .details-input:hover,
  .details-input:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 0;
      background-position: 100% center;
  }

