@font-face {
	font-family: myFirstFont;
	src: url(Fonts/Quicksand-VariableFont_wght.ttf);
  }

@media (max-width: 460px) {
  #socials {
    display: none !important;
  }
  #info-big {
    display: none !important;
  }
}
@media (min-width: 461px) {
  #info-small {
    display: none !important;
  }
}

#info-small {
  margin: auto;
}

.second-header-top img{
  height: 160px;
  padding-bottom: 10px;
}

@media (max-width: 600px) {
  .second-header-top img{
    height: 130px;
  }
}
@media (max-width: 400px) {
  .second-header-top img{
    height: 120px;
  }
}

.second-header-top {
  font-size: 0;
  text-align: center;
  margin: auto;
}

@media (min-width: 992px){
  .navbar-search {
    display: none !important;
  }
}

@media (max-width: 604px){
  .navbar-search {
    width: 400px !important;
  }
}

@media (max-width: 504px){
  .navbar-search {
    width: 300px !important;
  }
}

@media (max-width: 400px){
  .navbar-search {
    width: 240px !important;
  }
  .search-input::placeholder {
    font-size: 12px !important;
  }
}

@media (max-width: 991px){
  .search-container {
    display: none !important;
  }
}

.second-header-top .search-bar .form-control{
  margin-left: auto;
  width: 300px;
}

.second-header-top .search-bar .btn{
  margin-right: auto;
}



@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */



.search-container {
        padding-bottom: 3px;
        width: 500px;
        margin: auto;
    }
    
.search-input {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #575756;
        background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
 
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
}
.search-input::placeholder {
            color: color(#575756 a(0.8));
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
        .search-input:hover,
        .search-input:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }

.navbar-search {
  padding-bottom: 3px;
  width: 500px;
  margin: auto;
}

.item a {
  color: #353745;
  text-decoration: none;
}

.item a:hover {
  color: #353745;
  text-decoration: none;
}

.linear-wipe:hover {
  cursor: pointer;
}

.linear-wipe {
  font-family: myFirstFont;
  background: linear-gradient(to right, #353745 80%, silver 85%, silver 90%, #353745 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: shine;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  5% {
    background-position: 200% center;
  }
  6% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

 
.nav-item {
	font-size: 17px;
	font-family: myFirstFont;
  justify-content: space-between;
  text-align: center;
}



.slideshow {
  max-width: 100% !important;
    width: 1400px;
    position: relative;
    margin: auto;
    padding-top: 3px;
}


.carousel-item img {
	width: 100%;
  height: auto;
  }

.carousel {
  width: 100%;
  height: auto !important;
  margin: auto;
}
.carousel-inner {
  width: 100%;
  height: auto !important;
}
.d-block{
  height: auto !important;
}


@media (max-height: 1079px) and (min-width: 1890px) {
  .carousel-item img {
    width: 85%;
    height: auto;
    }
    
  .carousel {
    width: 85%;
    height: auto !important;
    margin: auto;
  }
  .carousel-inner {
    width: 85%;
    height: auto !important;
  }
  .d-block{
    height: auto !important;
  }
}
@media (max-height: 1000px) and (min-width: 1890px){
  .carousel-item img {
    width: 80%;
    height: auto;
    }
    
  .carousel {
    width: 80%;
    height: auto !important;
    margin: auto;
  }
  .carousel-inner {
    width: 80%;
    height: auto !important;
  }
  .d-block{
    height: auto !important;
  }
}
@media (max-height: 970px) and (min-width: 1890px) {
  .carousel-item img {
    width: 75%;
    height: auto;
    }
    
  .carousel {
    width: 75%;
    height: auto !important;
    margin: auto;
  }
  .carousel-inner {
    width: 75%;
    height: auto !important;
  }
  .d-block{
    height: auto !important;
  }
}

.navbar-nav {
  margin: auto;
  background-color: #353745;
}

.navbar-nav .nav-item #checkout-link {
  margin: auto;
  background-color: rgb(10, 75, 0);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    background-color: white;
}

.navbar-custom .nav-item.active #checkout-link,
.navbar-custom .nav-item:hover #checkout-link {
    background-color: green;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-custom .navbar-nav .nav-item #checkout-link {
  color: white;
  font-weight: 400;
}


.nav-link {
  width: 127px;
  color: white;
}

#checkout-link {
  color: black;
}



.img-fluid {
  padding-bottom: 20px;
}

.img-wrapper {
  position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
}




@media (max-width:760px) {
  /* matches 'btn-xs' */
  .btn-responsive {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}

.shop-now-container {
  display: inline;
  position:relative;
}

.image-row {
  text-align: center;
}


.image-row img {
  width: 281px;
  height: auto;
  max-width: 24%;
  max-height: auto;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

#shop-now-one {
  padding-top: 1.5% !important;
  padding-bottom: 1.5% !important;
}
#shop-now-two {
  padding-top: 1.5% !important;
  padding-bottom: 1.5% !important;
}
#shop-now-three {
  padding-bottom: 1.5% !important;
  padding-top: 1.5% !important;
}
#shop-now-four {
  padding-bottom: 1.5% !important;
  padding-top: 1.5% !important;
}

@media (max-width: 575px) {
  .image-row {
    display: none !important;
  }
  .image-row img {
    max-width: 33%;
  }
  #shop-now-one {
    padding-top: 1.5% !important;
    padding-bottom: 0.75% !important;
  }
  #shop-now-two {
    padding-top: 1.5% !important;
    padding-bottom: 0.75% !important;
  }
  #shop-now-three {
    padding-bottom: 1.5% !important;
    padding-top: 0.75% !important;
  }
  #shop-now-four {
    padding-bottom: 1.5% !important;
    padding-top: 0.75% !important;
  }
}

.image-row a {
  position: relative;
  width: 351px;
  height: auto;
  max-width: 24%;
  max-height: auto;
}


.image-row a .btn{
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 34%;
  top: 500%;
  border-color: white;
  color: white;
  border-radius: 0 !important;

}

@media (max-width: 1350px) {
  .image-row a .btn{
    left: 32%;
    top: 475%;
  }
}
@media (max-width: 1300px) {
  .image-row a .btn{
    left: 30%;
    top: 440%;
  }
}
@media (max-width: 1200px) {
  .image-row a .btn{
    left: 28%;
    top: 400%;
  }
}
@media (max-width: 1100px) {
  .image-row a .btn{
    left: 26%;
    top: 350%;
  }
}
@media (max-width: 1000px) {
  .image-row a .btn{
    left: 24%;
    top: 300%;
  }
}
@media (max-width: 900px) {
  .image-row a .btn{
    left: 22%;
    top: 250%;
  }
}
@media (max-width: 850px) {
  .image-row a .btn{
    left: 20%;
    top: 225%;
  }
}
@media (max-width: 800px) {
  .image-row a .btn{
    left: 18%;
    top: 200%;
  }
}
@media (max-width: 750px) {
  .image-row a .btn{
    left: 13%;
    top: 175%;
  }
}
@media (max-width: 700px) {
  .image-row a .btn{
    left: 12%;
    top: 150%;
  }
}
@media (max-width: 650px) {
  .image-row a .btn{
    left: 9%;
    top: 125%;
  }
}
@media (max-width: 625px) {
  .image-row a .btn{
    left: 8%;
    top: 125%;
  }
}
@media (max-width: 600px) {
  .image-row a .btn{
    left: 6.5%;
    top: 100%;
  }
}
@media (max-width: 590px) {
  .image-row a .btn{
    left: 5%;
    top: 100%;
  }
}
@media (max-width: 580px) {
  .image-row a .btn{
    left: 4%;
    top: 90%;
  }
}
@media (max-width: 575px) {
  .image-row a .btn{
    left: 17%;
    top: 200%;
  }
}
@media (max-width: 550px) {
  .image-row a .btn{
    left: 16%;
    top: 200%;
  }
}
@media (max-width: 540px) {
  .image-row a .btn{
    left: 15.5%;
    top: 200%;
  }
}
@media (max-width: 530px) {
  .image-row a .btn{
    left: 14.5%;
    top: 175%;
  }
}
@media (max-width: 520px) {
  .image-row a .btn{
    left: 13.5%;
    top: 175%;
  }
}
@media (max-width: 510px) {
  .image-row a .btn{
    left: 12.5%;
    top: 165%;
  }
}
@media (max-width: 500px) {
  .image-row a .btn{
    left: 11.5%;
    top: 150%;
  }
}
@media (max-width: 490px) {
  .image-row a .btn{
    left: 11%;
    top: 150%;
  }
}
@media (max-width: 475px) {
  .image-row a .btn{
    left: 10.5%;
    top: 140%;
  }
}
@media (max-width: 470px) {
  .image-row a .btn{
    left: 10%;
    top: 135%;
  }
}
@media (max-width: 460px) {
  .image-row a .btn{
    left: 9%;
    top: 125%;
  }
}
@media (max-width: 455px) {
  .image-row a .btn{
    left: 8%;
    top: 125%;
  }
}
@media (max-width: 445px) {
  .image-row a .btn{
    left: 7%;
    top: 125%;
  }
}
@media (max-width: 435px) {
  .image-row a .btn{
    left: 6%;
    top: 120%;
  }
}
@media (max-width: 425px) {
  .image-row a .btn{
    left: 5%;
  }
}
@media (max-width: 420px) {
  .image-row a .btn{
    left: 4.5%;
  }
}
@media (max-width: 415px) {
  .image-row a .btn{
    left: 4%;
  }
}
@media (max-width: 410px) {
  .image-row a .btn{
    left: 3%;
    top: 110%;
  }
}
@media (max-width: 400px) {
  .image-row a .btn{
    left: 9%;
    top: 150%;
    width: 80%;
    font-size: 80%;
  }
}
@media (max-width: 375px) {
  .image-row a .btn{
    left: 8%;
    top: 125%;
    width: 80%;
    font-size: 80%;
  }
}
@media (max-width: 355px) {
  .image-row a .btn{
    left: 8%;
    top: 125%;
    width: 80%;
    font-size: 70%;
  }
}
@media (max-width: 325px) {
  .image-row a .btn{
    left: 8%;
    top: 110%;
    font-size: 60%;
  }
}
@media (max-width: 300px) {
  .image-row a .btn{
    font-size: 50%;
  }
}
@media (max-width: 275px) {
  .image-row a .btn{
    font-size: 40%;
    top: 100%;
  }
}

.image-row a .btn:hover {
  background-color: white;
  border-color: white;
  color: black;
} 


.map-container {
  padding-bottom: 2vh;
  padding-top: 2vh;
  background-color: #353745;
  width: 100%;
    height: auto !important;
    margin: auto;
}

.the-container {
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 100% !important;
  width: 1400px;
  height: auto;
  padding-left: 1vw;
  padding-right: 1vw;
}

.business-info {
  padding-right: 2vw;
  padding-left: 2vw;
  background-color: #bfd6d9;
  border-radius: 30px 30px 30px 30px;
  font-family: myFirstFont;
  height: auto;
}

@media (max-width: 700px) {
  .business-info {
    min-width: 47vw;
  }
  .business-info h1 {
    font-size: 4vw !important;
  }
  
  .business-info h2 {
    font-size: 4vw !important;
  }
  .address h3 {
    font-size: 4vw !important;
  }
}

.business-info h1 {
  text-align: center;
  font-weight: 600;
  color: #353745;
  font-size: 1.6vw;
  white-space: nowrap;
}

.business-info h2 {
  width: 10.5em;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  color: #353745;
  font-size: 1.6vw;
  white-space: nowrap;
}

.opening-times {
  padding-top: 2vh;
  padding-bottom: 2vh;
}



.divider {
  border: 1px solid #353745;
}

.address {
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}

.address h3 {
  font-weight: 600;
  color: #353745;
  font-size: 1.6vw;
  white-space: nowrap;
}

.map-div {
  padding-left: 2vw;
  max-width: 100%;
  width: 1000px;
}

.map {
  width: 100%;
  height: 100%;
}



@media (max-width: 1000px) {
  .card-columns.custom-columns {
      column-count: 1;
      margin: 0 !important;
      width : 100vh;
    max-width : 100%;
    text-align: center;
  }
  .card {
    max-width: 100%;
  }
}
@media (min-width: 1000px) {
  .card-columns.custom-columns {
      column-count: 2;
      width: 914px;
  }
}
@media (min-width: 1420px) {
  .card-columns.custom-columns {
      column-count: 3;
      width: 1400px;
      column-gap: 2px;
  }
}
@media (max-width: 1420px) {
  .nav-link {
    width: fit-content;
    color: white;
  }
}







.card-body {
  padding: 0;
  text-align: left;
  background-color: #353745;
  color: #fcfcfc;
}

.card-title {
  font-size: medium;
  font-weight: bold;
  color: #fcfcfc
}

.card-body p {
  margin: 0;
  padding: 0;
}


.modal-header {
  background-color: #bfd6d9;
}

.modal-body {
  background-color: #bfd6d9;
}

.modal-footer {
  background-color: #bfd6d9;
}

.modal-title {
  font-family: myFirstFont;
  font-weight: 900;
  color: #353745;
}

.form-label {
  color: #353745;
  font-family: myFirstFont;
  font-weight: 600;
}

.modal-footer .btn {
  background-color: #353745;
  border-color: #353745;
}

.modal-footer .btn:hover {
  background-color: #353745;
  border-color: #353745;
}

.modal-footer .btn:active {
  background-color: #353745 !important;
  border-color: white !important;
}

.modal-footer.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.details-input {
  width: 100%;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  
  color: #575756;
  background-color: transparent;

  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.details-input::placeholder {
      color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1.5px;
  }
  
  .details-input:hover,
  .details-input:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 0;
      background-position: 100% center;
  }

  #remove-product:hover {
    cursor: pointer;
  }

  #decrease-quantity:hover {
    cursor: pointer;
  }

  #increase-quantity:hover {
    cursor: pointer;
  }

  #remove-product::selection {
    color: none;
    background: none;
}

#decrease-quantity::selection {
  color: none;
  background: none;
}

#increase-quantity::selection {
  color: none;
  background: none;
}



@media (max-width: 1500px) {
  #cart-row{
    column-count: 1;
  }
  #column-one {
    padding-right: 0 !important;
    width: 95% !important;
  }
  #column-two {
    width: 95% !important;
    padding-top: 1.5%;
  }
  #card-two {
    width: 100% !important;
    margin: auto;
  }
  #paypal-button-container {
    margin: auto;
    width: 100% !important;
    text-align: center;
  }
}

@media (max-width: 775px) {
  #header-product-name{
    font-size: 95% !important;
  }
  #header-product-cost-one{
    font-size: 95% !important;
  }
  #header-product-cost-two{
    font-size: 95% !important;
  }
  #header-product-quantity-one{
    font-size: 95% !important;
  }
  #header-product-quantity-two{
    font-size: 95% !important;
  }
  #header-product-total-cost-one{
    font-size: 95% !important;
  }
  #header-product-total-cost-two{
    font-size: 95% !important;
  }
  #product-name{
    font-size: 95% !important;
  }
  #product-price{
    font-size: 95% !important;
  }
  #decrease-quantity{
    font-size: 95% !important;
  }
  #increase-quantity{
    font-size: 95% !important;
  }
  #product-quantity{
    font-size: 95% !important;
  }
  #total-product-cost{
    font-size: 95% !important;
  }
  #remove-product{
    font-size: 95% !important;
  }
  #subtotal-text{
    font-size: 95% !important;
  }
  #subtotal{
    font-size: 95% !important;
  }
  #shipping-text{
    font-size: 95% !important;
  }
  #shipping-cost{
    font-size: 95% !important;
  }
  #total{
    font-size: 95% !important;
  }
  #total-cost{
    font-size: 95% !important;
  }
  #continue-shopping{
    font-size: 95% !important;
  }
}
@media (max-width: 600px) {
  #header-product-name{
    font-size: 90% !important;
  }
  #header-product-cost-one{
    font-size: 90% !important;
  }
  #header-product-cost-two{
    font-size: 90% !important;
  }
  #header-product-quantity-one{
    font-size: 90% !important;
  }
  #header-product-quantity-two{
    font-size: 90% !important;
  }
  #header-product-total-cost-one{
    font-size: 90% !important;
  }
  #header-product-total-cost-two{
    font-size: 90% !important;
  }
  #product-name{
    font-size: 90% !important;
  }
  #product-price{
    font-size: 90% !important;
  }
  #decrease-quantity{
    font-size: 90% !important;
  }
  #increase-quantity{
    font-size: 90% !important;
  }
  #product-quantity{
    font-size: 90% !important;
  }
  #total-product-cost{
    font-size: 90% !important;
  }
  #remove-product{
    font-size: 90% !important;
  }
  #subtotal-text{
    font-size: 90% !important;
  }
  #subtotal{
    font-size: 90% !important;
  }
  #shipping-text{
    font-size: 90% !important;
  }
  #shipping-cost{
    font-size: 90% !important;
  }
  #total{
    font-size: 90% !important;
  }
  #total-cost{
    font-size: 90% !important;
  }
  #continue-shopping{
    font-size: 90% !important;
  }
}
@media (max-width: 550px) {
  #header-product-name{
    font-size: 80% !important;
  }
  #header-product-cost-one{
    font-size: 80% !important;
  }
  #header-product-cost-two{
    font-size: 80% !important;
  }
  #header-product-quantity-one{
    font-size: 80% !important;
  }
  #header-product-quantity-two{
    font-size: 80% !important;
  }
  #header-product-total-cost-one{
    font-size: 80% !important;
  }
  #header-product-total-cost-two{
    font-size: 80% !important;
  }
  #product-name{
    font-size: 80% !important;
  }
  #product-price{
    font-size: 80% !important;
  }
  #decrease-quantity{
    font-size: 80% !important;
  }
  #increase-quantity{
    font-size: 80% !important;
  }
  #product-quantity{
    font-size: 80% !important;
  }
  #total-product-cost{
    font-size: 80% !important;
  }
  #remove-product{
    font-size: 80% !important;
  }
  #subtotal-text{
    font-size: 80% !important;
  }
  #subtotal{
    font-size: 80% !important;
  }
  #shipping-text{
    font-size: 80% !important;
  }
  #shipping-cost{
    font-size: 80% !important;
  }
  #total{
    font-size: 80% !important;
  }
  #total-cost{
    font-size: 80% !important;
  }
  #continue-shopping{
    font-size: 80% !important;
  }
}
@media (max-width: 500px) {
  #header-product-name{
    font-size: 70% !important;
  }
  #header-product-cost-one{
    font-size: 70% !important;
  }
  #header-product-cost-two{
    font-size: 70% !important;
  }
  #header-product-quantity-one{
    font-size: 70% !important;
  }
  #header-product-quantity-two{
    font-size: 70% !important;
  }
  #header-product-total-cost-one{
    font-size: 70% !important;
  }
  #header-product-total-cost-two{
    font-size: 70% !important;
  }
  #product-name{
    font-size: 70% !important;
  }
  #product-price{
    font-size: 70% !important;
  }
  #decrease-quantity{
    font-size: 70% !important;
  }
  #increase-quantity{
    font-size: 70% !important;
  }
  #product-quantity{
    font-size: 70% !important;
  }
  #total-product-cost{
    font-size: 70% !important;
  }
  #remove-product{
    font-size: 70% !important;
  }
  #subtotal-text{
    font-size: 70% !important;
  }
  #subtotal{
    font-size: 70% !important;
  }
  #shipping-text{
    font-size: 70% !important;
  }
  #shipping-cost{
    font-size: 70% !important;
  }
  #total{
    font-size: 70% !important;
  }
  #total-cost{
    font-size: 70% !important;
  }
  #continue-shopping{
    font-size: 70% !important;
  }
}
@media (max-width: 435px) {
  #header-product-name{
    font-size: 60% !important;
  }
  #header-product-cost-one{
    font-size: 60% !important;
  }
  #header-product-cost-two{
    font-size: 60% !important;
  }
  #header-product-quantity-one{
    font-size: 60% !important;
  }
  #header-product-quantity-two{
    font-size: 60% !important;
  }
  #header-product-total-cost-one{
    font-size: 60% !important;
  }
  #header-product-total-cost-two{
    font-size: 60% !important;
  }
  #product-name{
    font-size: 60% !important;
  }
  #product-price{
    font-size: 60% !important;
  }
  #decrease-quantity{
    font-size: 60% !important;
  }
  #increase-quantity{
    font-size: 60% !important;
  }
  #product-quantity{
    font-size: 60% !important;
  }
  #total-product-cost{
    font-size: 60% !important;
  }
  #remove-product{
    font-size: 60% !important;
  }
  #subtotal-text{
    font-size: 60% !important;
  }
  #subtotal{
    font-size: 60% !important;
  }
  #shipping-text{
    font-size: 60% !important;
  }
  #shipping-cost{
    font-size: 60% !important;
  }
  #total{
    font-size: 60% !important;
  }
  #total-cost{
    font-size: 60% !important;
  }
  #continue-shopping{
    font-size: 60% !important;
  }
}
@media (max-width: 370px) {
  #header-product-name{
    font-size: 50% !important;
  }
  #header-product-cost-one{
    font-size: 50% !important;
  }
  #header-product-cost-two{
    font-size: 50% !important;
  }
  #header-product-quantity-one{
    font-size: 50% !important;
  }
  #header-product-quantity-two{
    font-size: 50% !important;
  }
  #header-product-total-cost-one{
    font-size: 50% !important;
  }
  #header-product-total-cost-two{
    font-size: 50% !important;
  }
  #product-name{
    font-size: 50% !important;
  }
  #product-price{
    font-size: 50% !important;
  }
  #decrease-quantity{
    font-size: 50% !important;
  }
  #increase-quantity{
    font-size: 50% !important;
  }
  #product-quantity{
    font-size: 50% !important;
  }
  #total-product-cost{
    font-size: 50% !important;
  }
  #remove-product{
    font-size: 50% !important;
  }
  #subtotal-text{
    font-size: 50% !important;
  }
  #subtotal{
    font-size: 50% !important;
  }
  #shipping-text{
    font-size: 50% !important;
  }
  #shipping-cost{
    font-size: 50% !important;
  }
  #total{
    font-size: 50% !important;
  }
  #total-cost{
    font-size: 50% !important;
  }
  #continue-shopping{
    font-size: 50% !important;
  }
}
@media (max-width: 300px) {
  #header-product-name{
    font-size: 40% !important;
  }
  #header-product-cost-one{
    font-size: 40% !important;
  }
  #header-product-cost-two{
    font-size: 40% !important;
  }
  #header-product-quantity-one{
    font-size: 40% !important;
  }
  #header-product-quantity-two{
    font-size: 40% !important;
  }
  #header-product-total-cost-one{
    font-size: 40% !important;
  }
  #header-product-total-cost-two{
    font-size: 40% !important;
  }
  #product-name{
    font-size: 40% !important;
  }
  #product-price{
    font-size: 40% !important;
  }
  #decrease-quantity{
    font-size: 40% !important;
  }
  #increase-quantity{
    font-size: 40% !important;
  }
  #product-quantity{
    font-size: 40% !important;
  }
  #total-product-cost{
    font-size: 40% !important;
  }
  #remove-product{
    font-size: 40% !important;
  }
  #subtotal-text{
    font-size: 40% !important;
  }
  #subtotal{
    font-size: 40% !important;
  }
  #shipping-text{
    font-size: 40% !important;
  }
  #shipping-cost{
    font-size: 40% !important;
  }
  #total{
    font-size: 40% !important;
  }
  #total-cost{
    font-size: 40% !important;
  }
  #continue-shopping{
    font-size: 40% !important;
  }
}